img {width: 35%;}
h1 {padding: 25px;}
body {background-color: gray;
     font-family: Roboto, sans-serif;}
li {border: solid 1px black;
   border-radius: 5px;
   background-color: white;
   margin-bottom: 10px;
   padding: 25px;}

